@import 'colors';

.head-section{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  z-index: 30;

  h1{
    font-size: 22px;
    margin-bottom: 10px;
    font-weight: 800;
    color: $DDblue;
  }
  h3{
    font-size: 11px;
    color: $GBlue;
  }
}