@import 'colors';

.section-two{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $LGBlue;
  padding: 30px 30px 25px 30px;
  width: 100%;

  .switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $LGBlue;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  
  input:checked + .slider {
    background-color: $SoCyan;
  }

  input:checked + .slider:hover {
    background-color: $SoCyan;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $PBlue;
  }

  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  p{
    color: $GBlue;
  }
  .year{
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;

    span{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $LRed;
      background-color: $LGRed;
      padding: 2px 5px;
      border-radius: 15px;
      font-size: 8px;
      width: 100%;
      margin: 0 0 0 75px;
    }
  }
}