@import 'colors';
@import 'media-quires';

.section-two{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $LGBlue;
  padding: 30px 30px 25px 30px;
  width: 100%;

  @include mobile{
    margin-top: 50px;
  }

  .switch {
    background-color: $LGB;
    height: 25px;
    width: 50px;
    border-radius: 15px;
    position: relative;
    margin: 0 15px;
    cursor: pointer;

    @include mobile{
      height: 20px;
      width: 40px;
      margin: 0 10px;
    }
  
  }
  .switch input {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: $White;
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;

    @include mobile{
      width: 12px;
      height: 12px;
      top: 4px;
    }
  
  }
  .switch:hover{
    background-color: $SoCyan;
  }

  p{
    color: $GBlue;

    @include mobile{
      font-size: 10px;
    }
  
  }
  .year{
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;

    span{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $LRed;
      padding: 2px 5px;
      border-radius: 15px;
      font-size: 8px;
      margin: 0 0 0 35px;

      .desktop-discount{
        position: absolute;
        background-color: $LGRed;
        left: 10px;

        @include mobile{
          display: none;
          
        }
      }

      .mobile-discount{
        display: none;
        background-color: $LGRed;

        @include mobile{
          display: inline-flex;
          margin-left: 77px;
        }
      }
    }
  }
}