.section-one {
  width: 100%;
  padding: 50px 30px 0px 30px;
  position: relative;
}
.section-one article {
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.section-one article p {
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  color: hsl(225, 20%, 60%);
}
.section-one #range {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background: linear-gradient(90deg, hsl(174, 77%, 80%), 50%, hsl(224, 65%, 95%) 50%);
  height: 10px;
  border-radius: 5px;
  outline: none;
}
.section-one #range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 35px;
  height: 35px;
  background-image: url("../images/icon-slider.svg");
  background-repeat: no-repeat;
  background-color: hsl(174, 86%, 45%);
  background-position: 50%;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-one #range::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 10px hsl(174, 86%, 45%);
  background-color: hsl(174, 86%, 45%);
}
.section-one div {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  right: 30px;
  top: 40px;
}
@media screen and (max-width: 660px) {
  .section-one div {
    position: absolute;
    left: 50%;
    margin-top: 18px;
    transform: translateX(-50%);
    top: 100px;
  }
}
.section-one div p {
  font-weight: 800;
  font-size: 22px;
  color: hsl(227, 35%, 25%);
}
.section-one div month {
  font-size: 10px;
  letter-spacing: 3;
  color: hsl(225, 20%, 60%);
}

.section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid hsl(224, 65%, 95%);
  padding: 30px 30px 25px 30px;
  width: 100%;
}
@media screen and (max-width: 660px) {
  .section-two {
    margin-top: 50px;
  }
}
.section-two .switch {
  background-color: hsl(223, 50%, 87%);
  height: 25px;
  width: 50px;
  border-radius: 15px;
  position: relative;
  margin: 0 15px;
  cursor: pointer;
}
@media screen and (max-width: 660px) {
  .section-two .switch {
    height: 20px;
    width: 40px;
    margin: 0 10px;
  }
}
.section-two .switch input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: hsl(0, 0%, 100%);
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
@media screen and (max-width: 660px) {
  .section-two .switch input {
    width: 12px;
    height: 12px;
    top: 4px;
  }
}
.section-two .switch:hover {
  background-color: hsl(174, 77%, 80%);
}
.section-two p {
  color: hsl(225, 20%, 60%);
}
@media screen and (max-width: 660px) {
  .section-two p {
    font-size: 10px;
  }
}
.section-two .year {
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
}
.section-two .year span {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(15, 100%, 70%);
  padding: 2px 5px;
  border-radius: 15px;
  font-size: 8px;
  margin: 0 0 0 35px;
}
.section-two .year span .desktop-discount {
  position: absolute;
  background-color: hsl(14, 92%, 95%);
  left: 10px;
}
@media screen and (max-width: 660px) {
  .section-two .year span .desktop-discount {
    display: none;
  }
}
.section-two .year span .mobile-discount {
  display: none;
  background-color: hsl(14, 92%, 95%);
}
@media screen and (max-width: 660px) {
  .section-two .year span .mobile-discount {
    display: inline-flex;
    margin-left: 77px;
  }
}

.section-three {
  display: flex;
  justify-content: space-between;
  padding: 30px 40px 25px 40px;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 660px) {
  .section-three {
    flex-direction: column;
    gap: 20px;
  }
}
.section-three div div {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 5px;
}
@media screen and (max-width: 660px) {
  .section-three div div {
    justify-content: center;
  }
}
.section-three div div p {
  color: hsl(225, 20%, 60%);
}
.section-three button {
  padding: 10px 40px;
  font-size: 600;
  border-radius: 15px;
  border: none;
  color: hsl(0, 0%, 100%);
  background-color: hsl(227, 35%, 25%);
  cursor: pointer;
}

.head-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  z-index: 30;
}
.head-section h1 {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 800;
  color: hsl(227, 35%, 25%);
}
@media screen and (max-width: 660px) {
  .head-section h1 {
    font-size: 18px;
  }
}
.head-section h3 {
  font-size: 11px;
  color: hsl(225, 20%, 60%);
  text-align: center;
}
@media screen and (max-width: 660px) {
  .head-section h3 {
    width: 50%;
    margin-bottom: 40px;
  }
}

.pricing-container {
  width: 35%;
  position: relative;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 9px 10px 4px hsl(226, 100%, 87%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 100;
}
@media screen and (max-width: 660px) {
  .pricing-container {
    width: 90%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: white;
  z-index: 1;
}

.abstract {
  background: url(../images/bg-pattern.svg) no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  height: 300px;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 70px;
}
.abstract img {
  width: 100px;
  margin: 0 auto;
}
@media screen and (max-width: 660px) {
  .abstract img {
    margin-top: -88px;
  }
}/*# sourceMappingURL=styless.css.map */