@import 'colors';
@import 'section-one';
@import 'section-two';
@import 'section-three';
@import 'media-quires';
@import 'head-section';
@import 'pricing-container';
@import 'media-quires';


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}
body{
  background-color: white;
  z-index: 1;
}
.abstract{
  background: url(../images/bg-pattern.svg) no-repeat;
  background-size: cover;
  width: 100%;
  position: absolute;
  top: 0;
  height: 300px;
  right: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 70px;;

  img{
    width: 100px;
    margin: 0 auto;
    
    @include mobile{
      margin-top: -88px;
    }
  }
}